'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Vlt Atom'
      'submenu': [
        { 'label': 'Settings', 'command': 'vlt-atom:settings' }
      ]
    ]
  }
]

'context-menu':
  '.tree-view .full-menu': [
    {'type': 'separator'}
    {'label': 'Pull From Crx', 'command': 'vlt-atom:pull'}
    {'label': 'Push To Crx', 'command': 'vlt-atom:push'}
  ]
